.jumbotron {
    background-color: #b7d4f1;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
  }

  .jumbotron h1,p {
    text-align: center;
    font-size: 2.5rem;
  }

  .courses-container {
    padding: 1rem;
  }

  /* Example styles for courses (you can adjust or add more styles as needed) */
  .course {
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }


  #c{
    font-weight: bolder;
  }
  #c1{
    font-size: small;
  }